<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="MigrationsFolder">
            <Component Id="cmp1869BB22169EB5E9CE8F7F6A224F13D5" Guid="{13F9FA33-63E8-488D-9407-5934152F4016}">
                <File Id="fil5BB32B5FCE4E803023926967689D1424" KeyPath="yes" Source="$(var.SolutionDir)\001_create_schemas.sql" />
            </Component>
            <Component Id="cmp9558A0D542A5461F32248E690111F7E5" Guid="{ABB57F82-835B-49E1-B05D-DDF85136C51E}">
                <File Id="fil50722B185BF46E2BCB51A325C3A9710C" KeyPath="yes" Source="$(var.SolutionDir)\002_create_organization_tables.sql" />
            </Component>
            <Component Id="cmp9EDD5E2297594933ABE036B650673131" Guid="{179C7186-5223-436A-AA83-75425605D3E4}">
                <File Id="filD4FEADE756F5186905AF39CD8F70302B" KeyPath="yes" Source="$(var.SolutionDir)\003_create_provider_tables.sql" />
            </Component>
            <Component Id="cmp1AD121EB67560D1587FF54A9177EF368" Guid="{48103EEE-8DDB-493F-9D05-FAE7618258E9}">
                <File Id="filE56337201DC97AB43C4374673B5ED87E" KeyPath="yes" Source="$(var.SolutionDir)\004_create_encounter_tables.sql" />
            </Component>
            <Component Id="cmp84E46426DD1CAE74B0B7ED7497893884" Guid="{59D3FD57-7F7A-4CC2-BB36-6347FD95C41C}">
                <File Id="filEB269BB6C1268360CB96E4A4E00D5BE6" KeyPath="yes" Source="$(var.SolutionDir)\005_create_diagnosis_procedure_tables.sql" />
            </Component>
            <Component Id="cmp09E4B5AC826554776D507E52BEE4DA71" Guid="{03949935-35BC-4A05-80D3-0602A9D98A6E}">
                <File Id="fil9F2DA4E51371C1C00987E6EF00885BC5" KeyPath="yes" Source="$(var.SolutionDir)\006_create_flag_tables.sql" />
            </Component>
            <Component Id="cmpF595BF91BBE777BEE001C135618DB488" Guid="{C54BA06C-5076-49C8-B692-4593B5156900}">
                <File Id="fil13DD6E820DEF8B595DD40481281A4B24" KeyPath="yes" Source="$(var.SolutionDir)\007_create_staging_tables.sql" />
            </Component>
            <Component Id="cmp1CE4505C9D2FCF711DFFD1DB94A85829" Guid="{9CF332CE-1C7E-4047-8091-EAA3A7AA9E35}">
                <File Id="fil7A56359016330FC2A0F6BC8E56E193F1" KeyPath="yes" Source="$(var.SolutionDir)\008_create_audit_tables.sql" />
            </Component>
            <Component Id="cmpCDDB3E73282C0443264D0D9632DA0288" Guid="{D66064EA-C60A-47EF-909D-6FBDEF3545DF}">
                <File Id="fil67D13034B297374CDE58B12FCA22794F" KeyPath="yes" Source="$(var.SolutionDir)\009_create_rvu_tables.sql" />
            </Component>
            <Component Id="cmpDF79DCA8BE252B3CECF4A1465AF2F68B" Guid="{F7C825ED-9D49-4278-9448-EB7F87C34208}">
                <File Id="filD93FCEAD5C71D8941D07C5D5C42A480D" KeyPath="yes" Source="$(var.SolutionDir)\010_create_denial_tables.sql" />
            </Component>
            <Component Id="cmp15F676B2A941CCD9B3A50D7FCD1B2FB9" Guid="{60452B30-DA1D-4607-B481-D9DE4CCC2F46}">
                <File Id="fil64E5CE80C38664FD4FDF1F1A48427CF5" KeyPath="yes" Source="$(var.SolutionDir)\011_create_schedule_tables.sql" />
            </Component>
            <Component Id="cmpC26F23BDAB65D6898F5C455956D6E4AD" Guid="{94C7B062-7D0C-4A74-BDFD-F28B141D5B42}">
                <File Id="fil94457E5B0BC4C20DC3DEA22A093EB465" KeyPath="yes" Source="$(var.SolutionDir)\012_create_ml_tables.sql" />
            </Component>
            <Component Id="cmpAF1D3E722BEB6C69802B734EA87B0E81" Guid="{A474AFD3-67DE-4A39-AC5A-18475D1DCE25}">
                <File Id="filC083BF459460C95532409A182DDA68EE" KeyPath="yes" Source="$(var.SolutionDir)\013_create_dashboard_views.sql" />
            </Component>
            <Component Id="cmp11237191DEEAD0EC3D69171EFEC2B9ED" Guid="{9A761229-985C-4CFE-97FD-D2A678011B7F}">
                <File Id="fil3F35A08D03BD31B17D0CD99B27749EC2" KeyPath="yes" Source="$(var.SolutionDir)\014_create_utility_functions.sql" />
            </Component>
            <Component Id="cmp257D54F4F2EF0B7295D318D589A276F4" Guid="{72AD9ECA-C453-4877-916B-B83F53D1770D}">
                <File Id="filCB27C057A47723BB01862BC111356F55" KeyPath="yes" Source="$(var.SolutionDir)\015_create_fifo_queue.sql" />
            </Component>
            <Component Id="cmp3C7DBA2C0CD4A8EA788ABE7995DE37B6" Guid="{30FE9BA7-9210-4995-8966-C67A6AC1F1DD}">
                <File Id="fil650CEF41BEC2BB8F23CA790271808261" KeyPath="yes" Source="$(var.SolutionDir)\016_phase5_performance_indexes.sql" />
            </Component>
            <Component Id="cmp3DA8D1E3C825210D4FA917AF5A9EEEE0" Guid="{36CDD031-159C-4E2A-8694-82D203DBCB66}">
                <File Id="fil06CDC95BEF7CF71DEB0FC576984AE2DC" KeyPath="yes" Source="$(var.SolutionDir)\017_streaming_progress_tracking.sql" />
            </Component>
            <Component Id="cmpD426EA893D3F20C6424170C08C4F5E98" Guid="{028F1741-2E85-4150-BC1D-FDA688A2C9DD}">
                <File Id="filAE45C45619E1ACA49977271DBCE233AA" KeyPath="yes" Source="$(var.SolutionDir)\018_phase6_strategic_indexes.sql" />
            </Component>
            <Component Id="cmp4690E736017287B66873367DE6ED3E3C" Guid="{E0CADAB9-E18C-4792-B32E-6B7B5E403AD7}">
                <File Id="filC8678B9D9168E481DD62C8ED03E5FBC4" KeyPath="yes" Source="$(var.SolutionDir)\019_phase6_materialized_views.sql" />
            </Component>
            <Component Id="cmpF2C6EE2F67826F60BFFEAA7A83A5DE2D" Guid="{552D2EF6-AA4A-4075-B145-9BACA95285F1}">
                <File Id="filD97245C1092E84B749034F33FA8CF0D3" KeyPath="yes" Source="$(var.SolutionDir)\020_create_version_tracking.sql" />
            </Component>
            <Component Id="cmpC9E87C66ECB01371013C97A38D24BA0E" Guid="{6122EE78-8FEB-495E-B598-22E3B19CE10C}">
                <File Id="filFE8E09E41A9971D5795D552207377FD2" KeyPath="yes" Source="$(var.SolutionDir)\021_insert_initial_version.sql" />
            </Component>
            <Component Id="cmp8AFC126FBCCD39DE84AB953A76FBDD30" Guid="{40712ED7-582E-47CB-8CE3-DFF6F3CE50E4}">
                <File Id="fil99AFE760245C05874DB9DF02131FCDD8" KeyPath="yes" Source="$(var.SolutionDir)\022_test_upgrade_migration.sql" />
            </Component>
            <Component Id="cmpB593D5FFA4B188CC8E195A7D3E96C608" Guid="{094276F6-9D90-4FDB-9A58-73DA8FB4713A}">
                <File Id="fil4BBD841EEC211EE8C4FBFBA96E340245" KeyPath="yes" Source="$(var.SolutionDir)\023_create_raw_claims_table.sql" />
            </Component>
            <Component Id="cmpBF5AB255227BE7F033D22A1B735C617B" Guid="{AC3CE69E-08BD-4A6B-9C07-A78E7A0BD5A7}">
                <File Id="fil831D3623CDC8380427D7D022A3B4B6B1" KeyPath="yes" Source="$(var.SolutionDir)\024_add_batch_sequence_tracking.sql" />
            </Component>
            <Component Id="cmp0F5859B058E4F7D3DEC623EE24E7B42E" Guid="{27CA85A3-7B95-40D6-97E2-0388C3ABB08D}">
                <File Id="fil9DBD1CE374DAFF0AB87AC22C7B47FE28" KeyPath="yes" Source="$(var.SolutionDir)\README.md" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MigrationsComponentGroup">
            <ComponentRef Id="cmp1869BB22169EB5E9CE8F7F6A224F13D5" />
            <ComponentRef Id="cmp9558A0D542A5461F32248E690111F7E5" />
            <ComponentRef Id="cmp9EDD5E2297594933ABE036B650673131" />
            <ComponentRef Id="cmp1AD121EB67560D1587FF54A9177EF368" />
            <ComponentRef Id="cmp84E46426DD1CAE74B0B7ED7497893884" />
            <ComponentRef Id="cmp09E4B5AC826554776D507E52BEE4DA71" />
            <ComponentRef Id="cmpF595BF91BBE777BEE001C135618DB488" />
            <ComponentRef Id="cmp1CE4505C9D2FCF711DFFD1DB94A85829" />
            <ComponentRef Id="cmpCDDB3E73282C0443264D0D9632DA0288" />
            <ComponentRef Id="cmpDF79DCA8BE252B3CECF4A1465AF2F68B" />
            <ComponentRef Id="cmp15F676B2A941CCD9B3A50D7FCD1B2FB9" />
            <ComponentRef Id="cmpC26F23BDAB65D6898F5C455956D6E4AD" />
            <ComponentRef Id="cmpAF1D3E722BEB6C69802B734EA87B0E81" />
            <ComponentRef Id="cmp11237191DEEAD0EC3D69171EFEC2B9ED" />
            <ComponentRef Id="cmp257D54F4F2EF0B7295D318D589A276F4" />
            <ComponentRef Id="cmp3C7DBA2C0CD4A8EA788ABE7995DE37B6" />
            <ComponentRef Id="cmp3DA8D1E3C825210D4FA917AF5A9EEEE0" />
            <ComponentRef Id="cmpD426EA893D3F20C6424170C08C4F5E98" />
            <ComponentRef Id="cmp4690E736017287B66873367DE6ED3E3C" />
            <ComponentRef Id="cmpF2C6EE2F67826F60BFFEAA7A83A5DE2D" />
            <ComponentRef Id="cmpC9E87C66ECB01371013C97A38D24BA0E" />
            <ComponentRef Id="cmp8AFC126FBCCD39DE84AB953A76FBDD30" />
            <ComponentRef Id="cmpB593D5FFA4B188CC8E195A7D3E96C608" />
            <ComponentRef Id="cmpBF5AB255227BE7F033D22A1B735C617B" />
            <ComponentRef Id="cmp0F5859B058E4F7D3DEC623EE24E7B42E" />
        </ComponentGroup>
    </Fragment>
</Wix>